allow system_server device:chr_file { ioctl };
allow system_server uhid_device:file { read write open ioctl };
allow system_server uhid_device:chr_file { read write open ioctl };
allow system_server efs_file:dir { search };
allow system_server efs_file:file r_file_perms;
allow system_server dex2oat_exec:file { execute execute_no_trans read open };
allow system_server log_device:chr_file { open write };
allow system_server system_file:file { execmod };
allow system_server self:capability sys_module;
allow system_server log_device:dir { search };


# for sensors, GPS
#allow system_server system_file:file execmod;

# /efs/wifi/.mac.info
allow system_server wifi_data_file:file { read open };

allow system_server radio_data:dir r_dir_perms;

allow system_server gpsd:binder transfer;
type_transition system_server system_data_file:fifo_file gps_data_file ".gps.interface.pipe.to_jni";

# Access .gps.interface.pipe.to_gpsd.
allow system_server gps_data_file:dir rw_dir_perms;
allow system_server gps_data_file:fifo_file { setattr rw_file_perms create write read };

# Access /data/sensors/gps* socket
allow system_server gps_data_file:sock_file create_file_perms;
allow system_server gps_data_file:dir rw_dir_perms;
allow system_server gps_data_file:file rw_file_perms;
